*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html,body{
  width: 100%;
  height: 100%;
}



form {
  display: grid;
  width: 900px;
  grid-template-columns: auto auto;
  gap: 5px;
  /* place-items: center; */
  /* max-width: 800px; */
  margin-left: 60px  ;
  border-radius: 10px;
}


#detail {
  font-size: 30px;
  margin-left: 40%;
  margin-top:25px;
}

.Myimage{
  margin-left: 40%;
}

.label{
  margin-left: 20%;
}

.name {
  height: 40px;
  width: 80%;
  background-color: #f472b6;
  border-radius: 15px;
  font-size: 16px;
  /* padding: 10px 40px 10px 10px; Adjust padding for icon space */
  margin-top: 15px;
  margin-bottom: 10px;
}

.input-icon1 {
  position: absolute;
  right: 705px;
  top: 49%;
  transform: translateY(-50%);
}

.input-icon2 {
  position: absolute;
  right: 250px;
  top: 64.5%;
  transform: translateY(-50%);
}

.input-icon3 {
  position: absolute;
  right: 700px;
  top: 80%;
  transform: translateY(-50%);
}

.input-icon1 img {
  width: 25px;
  height: 25px;
  /* margin-left: 60px; */
  /* margin-top: 410px; */
}

.input-icon2 img {
  width: 25px;
  height: 25px;
  /* margin-left: 60px; */
  /* margin-top: 410px; */
}
.input-icon3 img {
  width: 30px;
  height: 30px;
  /* margin-left: 60px; */
  /* margin-top: 410px; */
}

p{
  font-size: 20px;
}

#Fullname{
  width: 400px;
  margin-left: 10px;
}

#Pregdate{
  width: 400px;
  margin-left: 10px;
}

#dob{
  width: 400px;
  margin-left: 10px;
}

#pincode{
  width: 400px;
  margin-left: 10px;
}

#bloodgroup{
  width: 400px;
  margin-left: 10px;
}

#contact{
  width: 400px;
  margin-left: 10px;
}

.next{
  width: 100px;
  background-color: #f472b6;
  border-radius: 15px;
  font-size: 16px;
  margin-left: 7%;
  margin-top: 10px;
}

