*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#signup-page{
    background-color:#faebd7;
    display: grid;
    height:auto;
    width: auto;
    /* place-items: center; */
    /* align-items: center; */
    margin-left: 35%;
    margin-top: 1%;
    border-radius: 10px;
    grid-template-columns: auto auto;
}

h2{
    text-align: center;
}

.mo-digit{
    font-size: 18px;
    text-align: center;
}

#Mobileno{
    background-color: #fb7185;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    
}
#Getotp{
    background-color: #7D7E7F;
    border-radius: 10px;
    place-items: center;
}

#label-mobileno{
    width: 100%;

}


/* //////////////////////////////////////////////// */

.Enter-otp{
    font-size: 20px;
}

.input-otp{
    height: 25px;
    width: 25px;
    border: 2px solid #be185d;
    border-radius: 7px;
    margin: 4px;
}

.verify{
    width: 250px;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #f9a8d4;
    border-radius: 20px;
    
}


#Mobileno{
    background-color: #fb7185;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    margin-left: 3%;
    
}
#Getotp{
    width: 260px;
    background-color: #7D7E7F;
    border-radius: 10px;
    place-self: center;
}

#label-mobileno{
    width: 100%;
}

.verify{
    background-color: #7D7E7F;
    place-self: center;
    border-radius: 10px;
    
}